.App {
  text-align: center;
}

.header{
  background-color: blue;
  display: flex;
  
  color: white;
  text-align: center;
 
}

.input{
  height: 25px;
  text-align: center;
  position: relative;
  display: block;
  margin-left: auto;
  align-items: center;
  margin-top: 15px;
  margin-right: 40px;
}

.para{
  font-size: 20px;
  text-align: center;
  margin-left: 100px;
 text-shadow: cornsilk;
 
}

